*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vb;
    background: #b04023;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left , #right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed  #fff;
}
.list-items{
    background: hotpink;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.list-items .dots{
    width: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;

}
.list-items .dots span{
    background: white;
    width: 10x;
    height: 10px;
    border-radius: 50%;
}