
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
.container{
    background-color: lightslategray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: rgb(137, 163, 255);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}
form div input{
    outline: none;
    border: none;
    padding: 10px 5px;
    width: 100%;
    border-radius: 10px;
}
form div:not(:last-child){
    margin-bottom: 15px;
}
form button{
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgb(52, 52, 212);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
form div span{
    color: red;
    font-size: 14px ;
    font-weight: 500;
    margin-top: 5px;
}