* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, Arial, Helvetica, sans-serif;
}
:root {
  --primary-color: #ffa51e;
  --primary-bg-color: #000;
}
body{
    background: var(--primary-bg-color);
    color: var(--primary-color);
}
.dark-theme{
    background: #e3dfdf;
    color: var(--primary-color);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
        width: 100%;
    height: 100vh;
}
.container h1{
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;

}
.container button {
    padding: 20px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--primary-bg-color);
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
